asgiref==3.11.0
asttokens==3.0.1
certifi==2025.11.12
cffi==2.0.0
charset-normalizer==3.4.4
colorama==0.4.6
cryptography==46.0.3
decorator==5.2.1
dj-rest-auth==7.0.1
Django==5.2.9
django-allauth==64.0.0
django-cors-headers==4.9.0
djangorestframework==3.16.1
executing==2.2.1
idna==3.11
ipython==9.8.0
ipython_pygments_lexers==1.1.1
jedi==0.19.2
matplotlib-inline==0.2.1
oauthlib==3.3.1
parso==0.8.5
pillow==12.0.0
prompt_toolkit==3.0.52
pure_eval==0.2.3
pycparser==2.23
Pygments==2.19.2
PyJWT==2.10.1
requests==2.32.5
sqlparse==0.5.4
stack-data==0.6.3
traitlets==5.14.3
tzdata==2025.2
urllib3==2.6.1
wcwidth==0.2.14
