html, body, #app {
    background-color: black;
    font-family: "Roboto", sans-serif;
    font-weight: 200;
    font-style: normal;
    /* font-family: 'Neue Helvetica', 'Helvetica Neue', Helvetica, Arial, sans-serif; */
    padding: 0;
    margin: 0;
    color: #aaa;
}
html::-webkit-scrollbar {
  display: none;
}
.bgDark {
  background-color: #121212;
}
.bgLightDark {
  background-color: #8c8c8c;
}